html {
  font-family: 'Montserrat Variable', sans-serif !important;
}
button {
  font-family: 'Staatliches', system-ui !important;
}
.title-font {
  font-family: 'Staatliches', system-ui;
  text-transform: uppercase;
}
