body.app-content {
    margin: 0px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}
header {
    background: rgb(3, 22, 16);
    background: linear-gradient(180deg, rgba(3, 22, 16, 1) 0%, rgba(21, 84, 71, 1) 100%);
}

body {
    background: rgb(63, 130, 109);
    background: linear-gradient(180deg, rgba(63, 130, 109, 1) 0%, rgba(131, 186, 160, 1) 20%, rgba(131, 186, 160, 1) 80%, rgba(63, 130, 109, 1) 100%);
}
a {
    text-decoration: none;
    color: inherit
}

.presentation-box {
    margin-top: 10vh;
}

.presentation-box .add-margin {
    margin-top: 4vh;
}

.avatar-image {
    border-radius: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0, 255, 72, 0.5), 0px 0px 50px 4px rgba(0, 0, 0, 0.9);
    box-shadow:0px 0px 50px 4px rgba(0, 0, 0, 0.9);
}
.u-color-green{
    font-weight:700;
    color: #0B5243;
    text-decoration: underline;
}
